
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/*
/allure-report/*
/test-results/*
/allure-results/*
/allure-results/*
 test-results.json
 test-results.xml